.app {
  padding: 1rem;
}

.app-header {
  margin-bottom: 2rem;
}

.app-search-wrapper {
  margin-bottom: 2rem;
}

.app-action-items-wrapper {
  display: flex;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.app-action-item {
  margin-right: 0.5rem;
}
