.record-form {
  background-color: #fff;
}

.record-form-actions-wrapper {
  display: flex;
  margin-bottom: 0.5rem;
  padding-top: 0.75rem;
}

.record-form-action-item {
  margin-right: 0.5rem;
}

.record-form-field {
  margin-bottom: 1rem;
}

.error {
  color: red;
  font-size: 0.75rem;
  padding-top: 0.5rem;
}

.record-form-label {
  margin-bottom: 0.5rem;
}
