.record-form {
  border: 1px solid #d9d9d9;
  padding: 1.5rem;
  background-color: #fff;
}

.record-form-actions-wrapper {
  display: flex;
  margin-bottom: 0.5rem;
  padding-top: 0.75rem;
}

.record-form-action-item {
  margin-right: 0.5rem;
}

.record-form-field {
  margin-bottom: 1rem;
}

.record-form-heading {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 0.75rem;
  padding-top: 0.5rem;
}

.record-form-label {
  margin-bottom: 0.5rem;
}
